* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #feb0bd;
    display: flex;
    justify-content: center;
}

.box {
    background-color: white;
    width: 400px;
    height: 511px;
    border-radius: 9px;
    margin: auto;
    margin-top: 80px;
    -webkit-box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}

.image {
    &:hover {
        img {
            animation: animation1 1s forwards;
        }
    }
    img {
        width: 135px;
        height: 135px;
        animation: animation2 1s forwards;
    }
}

@keyframes animation1 {
    100% {
        transform: rotateY(180deg);
    }
}
@keyframes animation2 {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.button {
    a {
        width: 275px;
        height: 52px;
        background-color: #feb0bd;
        //border: 2px solid white;
        color: white;
        border-radius: 103px;
        padding-left: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 4px 6px rgba(66, 68, 90, 1);
        transition-duration: 250ms;
        -webkit-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 0px 8px 24px 0px rgba(66, 68, 90, 1);

        &:hover {
            width: 300px;
            height: 60px;
            font-size: 22px;
        }
    }
}

.effectzero {
    position: absolute;
    top: -591px;
    animation: zero 1s forwards;
}

@keyframes zero {
    100% {
        top: 0;
    }
}

.effectone {
    animation: one 3s forwards;
}

@keyframes one {
    0% {
        opacity: 0;
    }
    14.29% {
        opacity: 0;
    }
    28.58% {
        opacity: 1;
    }
}

.effecttwo {
    animation: two 3s forwards;
}

@keyframes two {
    0% {
        opacity: 0;
    }
    28.58% {
        opacity: 0;
    }
    42.87% {
        opacity: 1;
    }
}

.effectthree {
    animation: three 3s forwards;
}

@keyframes three {
    0% {
        opacity: 0;
    }
    42.87% {
        opacity: 0;
    }
    57.16% {
        opacity: 1;
    }
}

.effectfour {
    animation: four 3s forwards;
}

@keyframes four {
    0% {
        opacity: 0;
    }
    57.16% {
        opacity: 0;
    }
    71.45% {
        opacity: 1;
    }
}
